<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>760873208536-29c21i1hl85p75ig5q1qg9pr5t3s0jgq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.760873208536-29c21i1hl85p75ig5q1qg9pr5t3s0jgq</string>
	<key>API_KEY</key>
	<string>AIzaSyC1QoEpYk6xWhxMs7QTUjK9nGqwkbrk30I</string>
	<key>GCM_SENDER_ID</key>
	<string>760873208536</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zartechMachieTest</string>
	<key>PROJECT_ID</key>
	<string>zartech-machine-test</string>
	<key>STORAGE_BUCKET</key>
	<string>zartech-machine-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:760873208536:ios:0e727c027343b5dcaca5ad</string>
</dict>
</plist>